openapi: 3.0.3
info:
  title: AT&T Geographic Sites API
  description: A messaging API enabling applications to send, receive, update, and delete MMS and SMS messages on behalf of AT&T users with explicit OAuth consent. Supports messages to phone numbers, short codes, and email addresses across AT&T and other carriers with full inbox management and delta synchronization.
  version: '2.0'
  contact:
    url: https://developer.att.com/support
  termsOfService: https://www.att.com/gen/general?pid=11561
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Geographic Sites
paths:
  /geographicSite:
    get:
      operationId: listGeographicSites
      summary: AT&T List Geographic Sites
      description: Inquire about available market service areas and geographic sites for MVNO operations. Corresponds to TMF 674 Geographic Site Management API.
      tags:
      - Geographic Sites
      parameters:
      - name: serviceType
        in: query
        required: false
        description: Filter by service type
        schema:
          type: string
          example: MOBILE
      responses:
        '200':
          description: Geographic sites successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeographicSite'
              examples:
                ListGeographicSites200Example:
                  summary: Default listGeographicSites 200 response
                  x-microcks-default: true
                  value:
                  - id: site-500123
                    name: US Market - East
                    href: https://devex-web.att.com/geographicSite/site-500123
                    status: active
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
    GeographicSite:
      type: object
      properties:
        id:
          type: string
          description: Unique geographic site identifier
          example: site-500123
        name:
          type: string
          description: Name of the geographic site or market area
          example: US Market - East
        href:
          type: string
          format: uri
          description: URL to this geographic site resource
          example: https://devex-web.att.com/geographicSite/site-500123
        status:
          type: string
          description: Site availability status
          example: active
  securitySchemes:
    oauth2:
      type: oauth2
      description: AT&T OAuth 2.0 with user consent via authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://api.att.com/oauth/v4/authorize
          tokenUrl: https://api.att.com/oauth/v4/token
          scopes:
            IMMN: Send Message - send MMS and SMS messages on behalf of user
            MIM: Message Inbox Management - read, update, and delete messages
