openapi: 3.2.0
info:
  title: AT&T MVNX Service Management API
  description: TM Forum-aligned API suite for Mobile Virtual Network Operators (MVNOs) using AT&T's network infrastructure. Provides subscriber activation, number management, porting operations, device and SIM management, subscriber profile management, service lifecycle management, and balance/policy management. Follows TMF Open API standards including TMF 622, 637, 639, 640, 654, 674, 689, 702, 716, and 761.
  version: 4.0.0
  contact:
    url: https://devex-web.att.com/mvnx/docs/mvnx-contact-us
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Service Management
paths:
  /service/{id}:
    get:
      operationId: getService
      summary: AT&T Get Service (HLR Registration)
      description: Confirm HLR (Home Location Register) registration status for a subscriber's service. Corresponds to TMF 640 Service Activation and Configuration API.
      tags:
      - Service Management
      parameters:
      - name: id
        in: path
        required: true
        description: Service ID
        schema:
          type: string
          example: svc-500123
      responses:
        '200':
          description: Service details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
              examples:
                GetService200Example:
                  summary: Default getService 200 response
                  x-microcks-default: true
                  value:
                    id: svc-500123
                    href: https://devex-web.att.com/service/svc-500123
                    state: active
                    serviceType: MOBILE
        '404':
          description: Service not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Service:
      type: object
      properties:
        id:
          type: string
          description: Unique service identifier
          example: svc-500123
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/service/svc-500123
        state:
          type: string
          description: Service state
          enum:
          - active
          - inactive
          - reserved
          example: active
        serviceType:
          type: string
          description: Type of service
          example: MOBILE
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Client ID enforcement policy for MVNX API authentication
