openapi: 3.0.3
info:
  title: AT&T Number Management API
  description: A messaging API enabling applications to send, receive, update, and delete MMS and SMS messages on behalf of AT&T users with explicit OAuth consent. Supports messages to phone numbers, short codes, and email addresses across AT&T and other carriers with full inbox management and delta synchronization.
  version: '2.0'
  contact:
    url: https://developer.att.com/support
  termsOfService: https://www.att.com/gen/general?pid=11561
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Number Management
paths:
  /resourceReservation:
    post:
      operationId: reserveSubscriberNumber
      summary: AT&T Reserve Subscriber Number
      description: Reserve one or more phone numbers for subscriber assignment prior to activation. Corresponds to TMF 716 Resource Reservation Management API.
      tags:
      - Number Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceReservationCreate'
            examples:
              ReserveSubscriberNumberRequestExample:
                summary: Default reserveSubscriberNumber request
                x-microcks-default: true
                value:
                  resourceCapacity:
                  - resourcePool:
                      id: pool-212-area
                    capacityAmount: 1
                  reservationItem:
                  - quantity: 1
                    resourceCapacity:
                      capacityDemandAmount: 1
      responses:
        '201':
          description: Number reservation successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReservation'
              examples:
                ReserveSubscriberNumber201Example:
                  summary: Default reserveSubscriberNumber 201 response
                  x-microcks-default: true
                  value:
                    id: reservation-500123
                    href: https://devex-web.att.com/resourceReservation/reservation-500123
                    reservationState: completed
                    reservedResource:
                    - value: '+12125559999'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /resourceReservation/{id}:
    patch:
      operationId: releaseNumberReservation
      summary: AT&T Release Reserved Numbers
      description: Release previously reserved phone numbers back to the available pool. Corresponds to TMF 716 Resource Reservation Management API.
      tags:
      - Number Management
      parameters:
      - name: id
        in: path
        required: true
        description: Reservation ID to release
        schema:
          type: string
          example: reservation-500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceReservationUpdate'
            examples:
              ReleaseNumberReservationRequestExample:
                summary: Default releaseNumberReservation request
                x-microcks-default: true
                value:
                  reservationState: cancelled
      responses:
        '200':
          description: Reservation successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReservation'
              examples:
                ReleaseNumberReservation200Example:
                  summary: Default releaseNumberReservation 200 response
                  x-microcks-default: true
                  value:
                    id: reservation-500123
                    reservationState: cancelled
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
    ResourceReservation:
      type: object
      properties:
        id:
          type: string
          description: Unique reservation identifier
          example: reservation-500123
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/resourceReservation/reservation-500123
        reservationState:
          type: string
          description: Reservation state
          enum:
          - completed
          - cancelled
          - inProgress
          example: completed
        reservedResource:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: Reserved phone number
                example: '+12125559999'
    ResourceReservationUpdate:
      type: object
      properties:
        reservationState:
          type: string
          description: Updated reservation state
          enum:
          - cancelled
          example: cancelled
    ResourceReservationCreate:
      type: object
      properties:
        resourceCapacity:
          type: array
          items:
            type: object
            properties:
              resourcePool:
                type: object
                properties:
                  id:
                    type: string
                    example: pool-212-area
              capacityAmount:
                type: integer
                example: 1
  securitySchemes:
    oauth2:
      type: oauth2
      description: AT&T OAuth 2.0 with user consent via authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://api.att.com/oauth/v4/authorize
          tokenUrl: https://api.att.com/oauth/v4/token
          scopes:
            IMMN: Send Message - send MMS and SMS messages on behalf of user
            MIM: Message Inbox Management - read, update, and delete messages
