openapi: 3.0.3
info:
  title: AT&T Service Management API
  description: A messaging API enabling applications to send, receive, update, and delete MMS and SMS messages on behalf of AT&T users with explicit OAuth consent. Supports messages to phone numbers, short codes, and email addresses across AT&T and other carriers with full inbox management and delta synchronization.
  version: '2.0'
  contact:
    url: https://developer.att.com/support
  termsOfService: https://www.att.com/gen/general?pid=11561
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Service Management
paths:
  /service/{id}:
    get:
      operationId: getService
      summary: AT&T Get Service (HLR Registration)
      description: Confirm HLR (Home Location Register) registration status for a subscriber's service. Corresponds to TMF 640 Service Activation and Configuration API.
      tags:
      - Service Management
      parameters:
      - name: id
        in: path
        required: true
        description: Service ID
        schema:
          type: string
          example: svc-500123
      responses:
        '200':
          description: Service details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
              examples:
                GetService200Example:
                  summary: Default getService 200 response
                  x-microcks-default: true
                  value:
                    id: svc-500123
                    href: https://devex-web.att.com/service/svc-500123
                    state: active
                    serviceType: MOBILE
        '404':
          description: Service not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
    Service:
      type: object
      properties:
        id:
          type: string
          description: Unique service identifier
          example: svc-500123
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/service/svc-500123
        state:
          type: string
          description: Service state
          enum:
          - active
          - inactive
          - reserved
          example: active
        serviceType:
          type: string
          description: Type of service
          example: MOBILE
  securitySchemes:
    oauth2:
      type: oauth2
      description: AT&T OAuth 2.0 with user consent via authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://api.att.com/oauth/v4/authorize
          tokenUrl: https://api.att.com/oauth/v4/token
          scopes:
            IMMN: Send Message - send MMS and SMS messages on behalf of user
            MIM: Message Inbox Management - read, update, and delete messages
