openapi: 3.2.0
info:
  title: AT&T MVNX Subscriber Management API
  description: TM Forum-aligned API suite for Mobile Virtual Network Operators (MVNOs) using AT&T's network infrastructure. Provides subscriber activation, number management, porting operations, device and SIM management, subscriber profile management, service lifecycle management, and balance/policy management. Follows TMF Open API standards including TMF 622, 637, 639, 640, 654, 674, 689, 702, 716, and 761.
  version: 4.0.0
  contact:
    url: https://devex-web.att.com/mvnx/docs/mvnx-contact-us
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Subscriber Management
paths:
  /product/{id}:
    get:
      operationId: getSubscriberProfile
      summary: AT&T Get Subscriber Profile
      description: Retrieve the product (subscriber profile) details for a specific subscriber including their plan, features, and service options. Corresponds to TMF 637 Product Inventory Management API.
      tags:
      - Subscriber Management
      parameters:
      - name: id
        in: path
        required: true
        description: Subscriber or product ID
        schema:
          type: string
          example: sub-a1b2c3d4
      responses:
        '200':
          description: Subscriber profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                GetSubscriberProfile200Example:
                  summary: Default getSubscriberProfile 200 response
                  x-microcks-default: true
                  value:
                    id: sub-a1b2c3d4
                    href: https://devex-web.att.com/product/sub-a1b2c3d4
                    status: active
                    productOffering:
                      id: offer-unlimited-basic
                      name: Unlimited Basic Plan
        '404':
          description: Subscriber not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
          description: Unique product/subscriber identifier
          example: sub-a1b2c3d4
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/product/sub-a1b2c3d4
        status:
          type: string
          description: Product status
          enum:
          - active
          - suspended
          - terminated
          example: active
        productOffering:
          type: object
          properties:
            id:
              type: string
              example: offer-unlimited-basic
            name:
              type: string
              example: Unlimited Basic Plan
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Client ID enforcement policy for MVNX API authentication
