openapi: 3.2.0
info:
  title: AT&T MVNX Product Orders API
  description: TM Forum-aligned API suite for Mobile Virtual Network Operators (MVNOs) using AT&T's network infrastructure. Provides subscriber activation, number management, porting operations, device and SIM management, subscriber profile management, service lifecycle management, and balance/policy management. Follows TMF Open API standards including TMF 622, 637, 639, 640, 654, 674, 689, 702, 716, and 761.
  version: 4.0.0
  contact:
    url: https://devex-web.att.com/mvnx/docs/mvnx-contact-us
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Product Orders
paths:
  /productOrder:
    post:
      operationId: createProductOrder
      summary: AT&T Create Product Order (Subscriber Activation)
      description: Activate a new subscriber on the AT&T MVNO network. Creates a product order for subscriber activation including device provisioning and number assignment. Corresponds to TMF 622 Product Ordering Management API.
      tags:
      - Product Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductOrderCreate'
            examples:
              CreateProductOrderRequestExample:
                summary: Default createProductOrder request
                x-microcks-default: true
                value:
                  externalId: ext-order-500123
                  orderItem:
                  - action: add
                    product:
                      productOffering:
                        id: offer-unlimited-basic
                      relatedParty:
                      - role: subscriber
                        id: sub-a1b2c3d4
      responses:
        '201':
          description: Product order successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductOrder'
              examples:
                CreateProductOrder201Example:
                  summary: Default createProductOrder 201 response
                  x-microcks-default: true
                  value:
                    id: order-500123
                    href: https://devex-web.att.com/productOrder/order-500123
                    state: inProgress
                    externalId: ext-order-500123
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
    ProductOrder:
      type: object
      properties:
        id:
          type: string
          description: Unique product order identifier
          example: order-500123
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/productOrder/order-500123
        state:
          type: string
          description: Order state
          enum:
          - inProgress
          - completed
          - cancelled
          - failed
          example: inProgress
        externalId:
          type: string
          description: External order identifier
          example: ext-order-500123
    ProductOrderCreate:
      type: object
      properties:
        externalId:
          type: string
          description: External order identifier for tracking
          example: ext-order-500123
        orderItem:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
                enum:
                - add
                - modify
                - delete
                example: add
              product:
                type: object
                properties:
                  productOffering:
                    type: object
                    properties:
                      id:
                        type: string
                        example: offer-unlimited-basic
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Client ID enforcement policy for MVNX API authentication
