openapi: 3.0.3
info:
  title: AT&T Product Orders API
  description: A messaging API enabling applications to send, receive, update, and delete MMS and SMS messages on behalf of AT&T users with explicit OAuth consent. Supports messages to phone numbers, short codes, and email addresses across AT&T and other carriers with full inbox management and delta synchronization.
  version: '2.0'
  contact:
    url: https://developer.att.com/support
  termsOfService: https://www.att.com/gen/general?pid=11561
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Product Orders
paths:
  /productOrder:
    post:
      operationId: createProductOrder
      summary: AT&T Create Product Order (Subscriber Activation)
      description: Activate a new subscriber on the AT&T MVNO network. Creates a product order for subscriber activation including device provisioning and number assignment. Corresponds to TMF 622 Product Ordering Management API.
      tags:
      - Product Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductOrderCreate'
            examples:
              CreateProductOrderRequestExample:
                summary: Default createProductOrder request
                x-microcks-default: true
                value:
                  externalId: ext-order-500123
                  orderItem:
                  - action: add
                    product:
                      productOffering:
                        id: offer-unlimited-basic
                      relatedParty:
                      - role: subscriber
                        id: sub-a1b2c3d4
      responses:
        '201':
          description: Product order successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductOrder'
              examples:
                CreateProductOrder201Example:
                  summary: Default createProductOrder 201 response
                  x-microcks-default: true
                  value:
                    id: order-500123
                    href: https://devex-web.att.com/productOrder/order-500123
                    state: inProgress
                    externalId: ext-order-500123
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
    ProductOrder:
      type: object
      properties:
        id:
          type: string
          description: Unique product order identifier
          example: order-500123
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/productOrder/order-500123
        state:
          type: string
          description: Order state
          enum:
          - inProgress
          - completed
          - cancelled
          - failed
          example: inProgress
        externalId:
          type: string
          description: External order identifier
          example: ext-order-500123
    ProductOrderCreate:
      type: object
      properties:
        externalId:
          type: string
          description: External order identifier for tracking
          example: ext-order-500123
        orderItem:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
                enum:
                - add
                - modify
                - delete
                example: add
              product:
                type: object
                properties:
                  productOffering:
                    type: object
                    properties:
                      id:
                        type: string
                        example: offer-unlimited-basic
  securitySchemes:
    oauth2:
      type: oauth2
      description: AT&T OAuth 2.0 with user consent via authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://api.att.com/oauth/v4/authorize
          tokenUrl: https://api.att.com/oauth/v4/token
          scopes:
            IMMN: Send Message - send MMS and SMS messages on behalf of user
            MIM: Message Inbox Management - read, update, and delete messages
