openapi: 3.0.3
info:
  title: AT&T Subscriber Management API
  description: A messaging API enabling applications to send, receive, update, and delete MMS and SMS messages on behalf of AT&T users with explicit OAuth consent. Supports messages to phone numbers, short codes, and email addresses across AT&T and other carriers with full inbox management and delta synchronization.
  version: '2.0'
  contact:
    url: https://developer.att.com/support
  termsOfService: https://www.att.com/gen/general?pid=11561
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Subscriber Management
paths:
  /product/{id}:
    get:
      operationId: getSubscriberProfile
      summary: AT&T Get Subscriber Profile
      description: Retrieve the product (subscriber profile) details for a specific subscriber including their plan, features, and service options. Corresponds to TMF 637 Product Inventory Management API.
      tags:
      - Subscriber Management
      parameters:
      - name: id
        in: path
        required: true
        description: Subscriber or product ID
        schema:
          type: string
          example: sub-a1b2c3d4
      responses:
        '200':
          description: Subscriber profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                GetSubscriberProfile200Example:
                  summary: Default getSubscriberProfile 200 response
                  x-microcks-default: true
                  value:
                    id: sub-a1b2c3d4
                    href: https://devex-web.att.com/product/sub-a1b2c3d4
                    status: active
                    productOffering:
                      id: offer-unlimited-basic
                      name: Unlimited Basic Plan
        '404':
          description: Subscriber not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
    Product:
      type: object
      properties:
        id:
          type: string
          description: Unique product/subscriber identifier
          example: sub-a1b2c3d4
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/product/sub-a1b2c3d4
        status:
          type: string
          description: Product status
          enum:
          - active
          - suspended
          - terminated
          example: active
        productOffering:
          type: object
          properties:
            id:
              type: string
              example: offer-unlimited-basic
            name:
              type: string
              example: Unlimited Basic Plan
  securitySchemes:
    oauth2:
      type: oauth2
      description: AT&T OAuth 2.0 with user consent via authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://api.att.com/oauth/v4/authorize
          tokenUrl: https://api.att.com/oauth/v4/token
          scopes:
            IMMN: Send Message - send MMS and SMS messages on behalf of user
            MIM: Message Inbox Management - read, update, and delete messages
