openapi: 3.2.0
info:
  title: AT&T MVNX Geographic Sites API
  description: TM Forum-aligned API suite for Mobile Virtual Network Operators (MVNOs) using AT&T's network infrastructure. Provides subscriber activation, number management, porting operations, device and SIM management, subscriber profile management, service lifecycle management, and balance/policy management. Follows TMF Open API standards including TMF 622, 637, 639, 640, 654, 674, 689, 702, 716, and 761.
  version: 4.0.0
  contact:
    url: https://devex-web.att.com/mvnx/docs/mvnx-contact-us
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Geographic Sites
paths:
  /geographicSite:
    get:
      operationId: listGeographicSites
      summary: AT&T List Geographic Sites
      description: Inquire about available market service areas and geographic sites for MVNO operations. Corresponds to TMF 674 Geographic Site Management API.
      tags:
      - Geographic Sites
      parameters:
      - name: serviceType
        in: query
        required: false
        description: Filter by service type
        schema:
          type: string
          example: MOBILE
      responses:
        '200':
          description: Geographic sites successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeographicSite'
              examples:
                ListGeographicSites200Example:
                  summary: Default listGeographicSites 200 response
                  x-microcks-default: true
                  value:
                  - id: site-500123
                    name: US Market - East
                    href: https://devex-web.att.com/geographicSite/site-500123
                    status: active
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GeographicSite:
      type: object
      properties:
        id:
          type: string
          description: Unique geographic site identifier
          example: site-500123
        name:
          type: string
          description: Name of the geographic site or market area
          example: US Market - East
        href:
          type: string
          format: uri
          description: URL to this geographic site resource
          example: https://devex-web.att.com/geographicSite/site-500123
        status:
          type: string
          description: Site availability status
          example: active
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Client ID enforcement policy for MVNX API authentication
