openapi: 3.2.0
info:
  title: AT&T MVNX Balance Management API
  description: TM Forum-aligned API suite for Mobile Virtual Network Operators (MVNOs) using AT&T's network infrastructure. Provides subscriber activation, number management, porting operations, device and SIM management, subscriber profile management, service lifecycle management, and balance/policy management. Follows TMF Open API standards including TMF 622, 637, 639, 640, 654, 674, 689, 702, 716, and 761.
  version: 4.0.0
  contact:
    url: https://devex-web.att.com/mvnx/docs/mvnx-contact-us
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://devex-web.att.com
  description: AT&T Developer Experience API Gateway
tags:
- name: Balance Management
paths:
  /topupBalance:
    post:
      operationId: topupBalance
      summary: AT&T Create Balance Top-Up
      description: Add data or voice balance to a subscriber's account. Corresponds to TMF 654 Prepay Balance Management API.
      tags:
      - Balance Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopupBalanceCreate'
            examples:
              TopupBalanceRequestExample:
                summary: Default topupBalance request
                x-microcks-default: true
                value:
                  channel:
                    name: API
                  product:
                    id: sub-a1b2c3d4
                  amount:
                    units: 10.0
                    currency: USD
      responses:
        '201':
          description: Balance top-up successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupBalance'
              examples:
                TopupBalance201Example:
                  summary: Default topupBalance 201 response
                  x-microcks-default: true
                  value:
                    id: topup-500123
                    href: https://devex-web.att.com/topupBalance/topup-500123
                    status: completed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TopupBalanceCreate:
      type: object
      properties:
        channel:
          type: object
          properties:
            name:
              type: string
              example: API
        product:
          type: object
          properties:
            id:
              type: string
              description: Subscriber product ID
              example: sub-a1b2c3d4
        amount:
          type: object
          properties:
            units:
              type: number
              description: Top-up amount
              example: 10.0
            currency:
              type: string
              description: Currency code (ISO 4217)
              example: USD
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: '400'
        reason:
          type: string
          description: Short reason for the error
          example: Bad Request
        message:
          type: string
          description: Detailed error message
          example: Invalid input parameter value
        status:
          type: string
          description: HTTP status code
          example: '400'
    TopupBalance:
      type: object
      properties:
        id:
          type: string
          description: Unique top-up transaction identifier
          example: topup-500123
        href:
          type: string
          format: uri
          example: https://devex-web.att.com/topupBalance/topup-500123
        status:
          type: string
          description: Transaction status
          enum:
          - completed
          - failed
          - inProgress
          example: completed
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Client ID enforcement policy for MVNX API authentication
