openapi: 3.0.3
info:
  title: AT&T Product Ordering API
  description: Enterprise-grade APIs for AT&T wireline business services including service qualification, quoting, ordering, and provisioning. The Alliance API suite supports automated ordering of AVPN, IPBB, ATTPhone, ASE, and AT&T Internet Air for Business services.
  version: 1.0.0
  contact:
    name: AT&T Alliance Developer Portal
    url: https://devex-web.att.com/alliance
  termsOfService: https://www.att.com/gen/general?pid=11561
servers:
- url: https://devex-web.att.com
  description: AT&T Enterprise API Server
security:
- oauth2: []
tags:
- name: Product Ordering
  description: Place and manage service orders
paths:
  /alliance/productOrder/v1:
    post:
      operationId: createProductOrder
      summary: Create AT&T Enterprise Product Order
      description: Submit a product order for AT&T wireline business services including AVPN, IPBB, ATTPhone, ASE, or Internet Air for Business.
      tags:
      - Product Ordering
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductOrderRequest'
            examples:
              avpnOrder:
                summary: AVPN Service Order
                value:
                  externalId: ext_order_001
                  description: AVPN service order for Dallas HQ
                  requestedStartDate: '2026-05-01'
                  orderItem:
                  - id: item_001
                    action: add
                    productOffering:
                      name: AVPN
      responses:
        '201':
          description: Product order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductOrder'
              examples:
                created:
                  summary: Order Created
                  value:
                    id: ord_xyz789
                    externalId: ext_order_001
                    state: acknowledged
                    orderDate: '2026-04-19T10:00:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
        reason:
          type: string
          description: Error reason
        message:
          type: string
          description: Detailed error message
    ProductOrderRequest:
      type: object
      required:
      - orderItem
      properties:
        externalId:
          type: string
          description: Customer-provided external order reference
        description:
          type: string
          description: Order description
        requestedStartDate:
          type: string
          format: date
          description: Requested service start date
        orderItem:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
    OrderItem:
      type: object
      required:
      - id
      - action
      - productOffering
      properties:
        id:
          type: string
          description: Order item identifier
        action:
          type: string
          enum:
          - add
          - modify
          - delete
          - noChange
          description: Order action type
        productOffering:
          type: object
          properties:
            name:
              type: string
              description: Product offering name
    ProductOrder:
      type: object
      properties:
        id:
          type: string
          description: AT&T order identifier
        externalId:
          type: string
          description: Customer external reference
        state:
          type: string
          enum:
          - acknowledged
          - inProgress
          - pending
          - held
          - assessingCancellation
          - pendingCancellation
          - cancelled
          - completed
          - failed
          - partial
          description: Current order state
        orderDate:
          type: string
          format: date-time
          description: Order submission timestamp
        completionDate:
          type: string
          format: date-time
          nullable: true
          description: Order completion timestamp
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://devex-web.att.com/oauth/token
          scopes:
            enterprise: Access AT&T enterprise connectivity APIs
